* {
  box-sizing: border-box;
}

body {
  background: #111;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

canvas {
  width:  100vw;
  height: 100vh;
}

#layer-counter {
  position: absolute;
  color: white;
  background: #00000088;
}

#fps-statistics {
  position: absolute;
  color: white;
  background: #00000088;
  right: 0;
}

#m1, #m2 {
  position: absolute;
  width: 4px;
  height: 4px;
  left: calc(50vw - 2px);
  top: calc(50vh - 2px);
  display: none;
}
#m1 {
  transform: translateX(0);
  background: rgb(30, 171, 30);
}
#m2 {
  transform: translateX(-120px);
  background: red;
}

#error-modal.hidden {
  display: none;
}

#error-modal {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000044;

}

#error-modal-frame {
  background-color: #222;
  color: #ffd;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
}

#error-modal-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

#error-modal-message {
  font-size: 1.2em;
  margin-bottom: 10px;
}