#ratite-inspector {
  position:              fixed;
  top:                   20%;
  left:                  10%;
  width:                 80%;
  height:                60%;
  background:            rgba(0, 0, 0, 0.85);
  backdrop-filter:       blur(7px);
  z-index:               999999;
  padding:               0;
  margin:                0;
  font-family:           'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:             14px;
  color:                 #fff;
  resize:                both;
  overflow:              hidden;
  display:               grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows:    50px 1fr;
}

.ri-title-bar {
  grid-column: 1 / 3;
  grid-row:    1;
  color:       #fff;
  padding:     0 10px;
  font-size:   18px;
  font-weight: bold;
  display:     flex;
  align-items: center;
  user-select: none;
}

.ri-title-bar .ri-title {
  flex-grow: 1;
}

.ri-title-buttons {
  display:     flex;
  align-items: center;
  
}

.ri-title-bar button {
  background: none;
  border:     none;
  color:      #fff;
  font-size:  18px;
  padding:    0 5px;
  cursor:     pointer;
}

.ri-title-bar button.ri-sticky {
  color: #66d;
}

.ri-title-bar button.ri-sticky:hover {
  color: #88d;
}

.ri-title-bar button.ri-sticky:active {
  color: #44d;
}

.ri-title-bar button:hover {
  color: #ccc;
}

.ri-title-bar button:active {
  color: #aaa;
}

.ri-title-bar button:focus {
  outline: none;
}

.ri-sidebar {
  grid-column: 1;
  grid-row:    2;
  padding:     10px 0px;
  overflow-y:  auto;
  user-select: none;
}

.ri-sidebar-item {
  padding:     5px 10px;
  cursor:      pointer;
  border-left: 2px solid #fff;
  margin:      1px 0;
}

.ri-sidebar-item:hover {
  color: #ccc;
}

.ri-sidebar-item.active {
  color: #aaa;
}

.ri-sidebar-item.active:hover {
  color: #aaa;
}

.ri-sidebar-item-selected {
  color: #dd6;
  border-left-color: #dd6;
}

.ri-content {
  overflow-y: auto;
}

.ri-scene-inspector, .ri-view-inspector {
  display: flex;
  flex-direction: row;
}

.ri-scene-inspector-tree {
  overflow-x: hidden;
}

.ri-properties-pane {
  width: 50%;
  margin-left: 20px;
}

.ri-properties-pane-header, .ri-entity-list-header {
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
}

.ri-properties-table {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 2fr;
}

.ri-prop-table-row {
  display: contents;
  margin: 2px 0;
}

.ri-prop-table-label {
  grid-column: 1;
  color:       #aaa;
  margin-right: 10px;
}

.ri-prop-table-value {
  grid-column: 2;
  color:       #fff;
}

.ri-scene-node {
  padding: 0;
  margin:  0;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
}

.ri-scene-node * {
  text-overflow: ellipsis;
}

.ri-node-name {
  font-weight: bold;
}

.ri-node-name-unnamed {
  font-style: italic;
}

.ri-node-properties {
  display: flex;
  flex-direction: row;
}

.ri-node-hidden {
  color: #aaa;
}

.ri-node-prop {
  margin: 0 5px;
  width: max-content;
}

.ri-node-children {
  margin-left: 20px;
}

.ri-node-prop-label {
  color: #aaa;
}

.ri-node-prop-value {
  color: #ccc;
}

.ri-node-prop-value:hover {
  color: #dd6
}

.ri-node-prop-value:active {
  color: #aaa;
}

.ri-node-prop-value:focus {
  outline: none;
}

.ri-prop-value-list {
  display:        flex;
  flex-direction: column;
}

.ri-node-link {
  color: #fff;
}

.ri-matrix-4x4 {
  display:               grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows:    repeat(4, 15px);
  grid-gap:              0px;
  padding:               0px;
  font-variant-numeric:  lining-nums tabular-nums;
  text-align:            right;
  grid-auto-flow:        column;
  margin:                2px auto;
}

.ri-vector-3 {
  display:               grid;
  grid-gap:              0px;
  padding:               0px;
  grid-template-columns: repeat(3, 50px);
  font-variant-numeric:  lining-nums tabular-nums;
  text-align:            right;
}

.ri-prop-table-section-label {
  color: #fff;
  margin-top: 5px;
}

.ri-prop-image {
  width:   256px;
  height:  256px;
  margin:  2px;
  padding: 0px;
  border:  1px solid #aaa;
  contain: content;
}

.ri-prop-image canvas {
  width:  256px;
  height: 256px;
}

.ri-entity-list {
  margin-right: 10px;
  cursor:       default;
  width:        max-content;
}

.ri-entity-list-item {
  padding: 0 15px;
  padding-bottom: 1px;
}

.ri-entity-list-item:hover {
  background-color: #222;
}

.ri-entity-list-item:active {
  background-color: #444;
}

.ri-entity-list-item.ri-selected {
  background-color: #333;
}

.ri-entity-list-item.ri-selected:hover {
  background-color: #333;
}

.ri-entity-list-item.ri-selected:active {
  background-color: #333;
}

